$bcColor: #643a94;

.sidebar {
  position: fixed;
  top: 8vh;
  width: 100vw;
  background-color: $bcColor;
  z-index: 100;
  height: calc(100vh - 8vh);
  transition: 0.5s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 5vh;

  button {
    width: 80%;
    margin-bottom: 5vh;
    height: 10%;
    border: 3px solid white;
    outline: none;
    background-color: transparent;
    color: white;
    font-family: inherit;
    font-weight: bold;
    font-size: 7vw;
    transition: transform 0.2s;

    .fas {
      margin-right: 3vw;
    }

    &:active {
      transform: scale(0.8);
    }
  }
}

@media screen and (min-width: 1024px) {
  .sidebar {
    width: 20vw;

    button {
      font-size: 2vw;
      cursor: pointer;

      &:hover {
        background-color: white;
        color: $bcColor;
      }

      .fas {
        margin-right: 1vw;
      }
    }
  }
}
